<ion-header style="text-align: center;"> 
  <ion-toolbar> 
    <ion-buttons slot="end" style="padding-right: 20px;" (click)=" logOut()">
      <ion-icon  name="log-out-outline" ></ion-icon>
  </ion-buttons>
    <ion-title > 
      نوع التبرع
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >

  <div id="main">


  <div style="text-align: center;"  >
   
    <!-- <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top" (click)='malyWithTab()'>
      مالى
    </ion-button> -->

   
    <br>
     <div style="margin-top: 20%;">
        <a (click)="malyWithTab()" > 
          <img src="../assets/icon/jjj.png" style="width:  20%;"  alt=""  >
          <br>
          <span ></span>
        </a>
      </div>
     
     
      <br> <br>
     
      <div>
        <a (click)="ayniWithTab()" > 
          <img src="../assets/icon/1.png" style="width:  20%;"  alt=""  >
          <br>
          <span ></span>
        </a>
      </div> 
      
      

      <br>
      
    </div>
    

</div>
</ion-content>