<ion-header style="text-align: center;"> 
  <ion-toolbar> 
    <ion-title> 
      نوع التبرع
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div id="main">


  <div class="login-form">
   
    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top" (click)='malyWithTab()'>
      مالى
    </ion-button>



    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top" (click)='ayniWithTab()'>
      عينى
  </ion-button> <br>


    <!-- <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/ayni">
        عينى
    </ion-button> <br> -->

    </div>

</div>
</ion-content>