<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      التبرع المالى
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="padding-left: 40px;">انواع التبرع المالى</ion-title>
    </ion-toolbar>
  </ion-header> 

<div class="container"> 
  
  <ion-button expand="block" > صدقة</ion-button> 
  <br>
  <ion-button expand="block">زكاة مال</ion-button> 
  <br>
  <ion-button expand="block" > كفالة يتيم</ion-button> 
  <br>
  <ion-button expand="block">كفالة اسره</ion-button> 
  <br> 
  <ion-button expand="block">غارمين</ion-button> 


</div>
 