<ion-content >
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>

      <ion-title  style="padding-left: 80px;">انواع التبرع المالى</ion-title>
    </ion-toolbar>
  </ion-header> 


  <div class="login-form">
 

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
      صدقة
    </ion-button> <br>


    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
        زكاة مال
    </ion-button> <br>

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
      كفالة يتيم
    </ion-button> <br>

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
    كفالة أسرة
    </ion-button> <br>

     <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
  غارمين
     </ion-button> <br>
    

     </div>





<!-- <div class="container"> 
  
  <ion-button expand="block" > صدقة</ion-button> 
  <br>
  <ion-button expand="block">زكاة مال</ion-button> 
  <br>
  <ion-button expand="block" > كفالة يتيم</ion-button> 
  <br>
  <ion-button expand="block">كفالة اسره</ion-button> 
  <br> 
  <ion-button expand="block">غارمين</ion-button> 


</div> -->
 