  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>

      <ion-title style="padding-left: 80px;" color='realgreen'>انواع التبرع العينى</ion-title>
    </ion-toolbar>
  </ion-header> 

  <ion-content  class="ayni">

  <div class="login-form">

    <div > 
      <img src="../../../assets/imgs/1.png" style="width: 100px; height: 100px; position: relative; left: 95px; bottom: 10px;" > 
    </div>
 
     <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/tabs/tab1">
      أجهزة كهربائية
     </ion-button> <br>


    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/tabs/tab1">
ملابس    </ion-button> <br>

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/tabs/tab1">
أثاث</ion-button> <br>

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/tabs/tab1">
 كتب    </ion-button> <br>

     <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/tabs/tab1">
   أتبرع بوقتك
     </ion-button> <br>
    

     </div>
    </ion-content>










<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      التبرع العينى
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="padding-left: 40px;"> أنواع التبرع العينى </ion-title>
    </ion-toolbar>
  </ion-header> 

<div class="container"> 
  
  <ion-button expand="block" > اجهزة كهربائية</ion-button> 
  <br>
  <ion-button expand="block">ملابس</ion-button> 
  <br>
  <ion-button expand="block" > أثاث</ion-button> 
  <br>
  <ion-button expand="block">كتب</ion-button> 
  <br> 
  <ion-button expand="block">تبرع</ion-button> 


</div> -->