<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title style="text-align: center;">انواع التبرع العينى</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content >
  <div id="main">

  <div style="text-align: center;">
    <img src="assets/imgs/1.png" alt="" width="40%" style="padding-top: 10px;">
  </div>
  <div class="login-form" style="text-align: center;">
 
    <ion-button mode="ios" color="green"  style="width: 60%;" class="btnMaly"  routerLink="/tabs/tab1">
      أجهزة كهربائية

    </ion-button> <br>

    <ion-button mode="ios" color="green"  style="width: 60%;"  class="btnMaly"  routerLink="/tabs/tab1">
      ملابس    </ion-button> <br>

    <ion-button mode="ios" color="green"   style="width: 60%;" class="btnMaly"  routerLink="/tabs/tab1">
      أثاث    </ion-button> <br>

    <ion-button mode="ios" color="green"  style="width: 60%;"  class="btnMaly"  routerLink="/tabs/tab1">
      كتب    </ion-button> <br>

    <ion-button mode="ios" color="green"  style="width: 60%;"  class="btnMaly"  routerLink="/tabs/tab1">
      أتبرع بوقتك
    </ion-button> <br>
    
    </div>
  </div>
</ion-content>
 
 


