<ion-header >
  <ion-toolbar id="toolbar-shadow">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2" text="الرجوع" icon="chevron-back-outline" color="white"></ion-back-button>
    </ion-buttons>

    <ion-title style="text-align: center; color: white;">أنواع التبرع العيني</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content >
  <div id="main">

  <div style="text-align: center; padding-top: 10%;">
    <img id="img-shadow" src="assets/icon/1.png" alt="" width="40%">
  </div>
  <div class="login-form" style="text-align: center;">
    <ion-row>
      <ion-col>
        <a routerLink="/tabs/tab1/utility">
          <img src="assets/icon/Aghza-01.png" style="width: 70%;" alt="">
          <br>
          <span style="color: white;">أجهزة كهربائية</span>
        </a>
        
      </ion-col>
      <ion-col>
        <a routerLink="/tabs/tab1/cloths">
          <img src="assets/icon/mlabs-01.png" style="width: 70%;" alt="">
          <br>
          <span style="color: white;">ملابس</span>
        </a>
        
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a routerLink="/tabs/tab1/furniture">
          <img src="assets/icon/asas-01.png" style="width: 70%;" alt="">
          <br>
          <span style="color: white;">أثاث</span>
        </a>
        
        
      </ion-col>
      <ion-col>
        <a routerLink="/tabs/tab1/books">
          <img src="assets/icon/books-01.png" style="width: 70%;" alt="">
          <br>
          <span style="color: white;">كتب</span>
        </a>
        
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a routerLink="/tabs/tab1/time">
          <img src="assets/icon/time-01.png" style="width: 35%;" alt="">
          <br>
          <span style="color: white;">أتبرع بوقتك</span>
        </a>
        
        
      </ion-col>
    </ion-row>
    

    </div>
  </div>
</ion-content>
