
  
  .login-form {



    background-image: url('../../../assets/imgs/white-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center;

    margin: auto;
    padding-top: 30px;
    
    
  }