
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="padding-left: 120px;">
     الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> 

  <h1 class="name" style="padding-left: 100px;">  اهلا محمود </h1>

<div class="container"> 
  
  <ion-button expand="block" [routerLink]="['/maly']"> تبرع مالى </ion-button> 
  <br>
  <ion-button expand="block" [routerLink]="['/ayni']"> تبرع عينى </ion-button> 

</div>
&nbsp; &nbsp;
&nbsp;
&nbsp;

 
<ion-button size="default" shape="round"  color="primary" expand="block" (click)="logOut()">signOut</ion-button>  

