<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      قائمة الجمعيات
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="padding-left: 65px;">    قائمة الجمعيات   </ion-title>
    </ion-toolbar>
  </ion-header> 

<div class="container"> 
  <ion-list class="card-body">
  <ion-button expand="block" [routerLink]="['/items']" > مستشفى 57357</ion-button> 
  <br>
  <ion-button expand="block">جمعية رسالة</ion-button> 
  <br>
  <ion-button expand="block" > بنك الطعام المصرى </ion-button> 
  <br>
  <ion-button expand="block">جمعية الأورمان</ion-button> 
  <br> 
  <ion-button expand="block">مؤسسة مصر الخير</ion-button> 
  </ion-list>

</div>
 