.inactive{ 
    
    opacity: 0.4;
    
    pointer-events: none;
    
}
 // style of review part
 ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
 
.category-block {
    margin-bottom: 4px;
}
 
.category-banner {
    text-align: center;
   // background: var(--ion-color-light);
    height: 40px;
    width: 95% ;
    font-weight: 900;
    font-size: 200%
}
/* .container { 
    padding-top: 50px;
}
.logo-box {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
  
    img {
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    ion-icon {
        font-size: 150px;
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
  }
  .login-form {
    
    width: 75%;
    margin: auto;
    padding-top: 50px;
    ion-list {
        background: none;
        ion-item {
            background: rgba( #999, 0.05);
            --background: none;
            border-radius: 6px;
            padding: 3px 0px !important;
            margin-bottom: 20px;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
  
            .item-native {
                --background: none !important;
            }
  
            & ion-select-option{
                margin-left: auto;
                max-width: unset;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0;
  
                .select {
                    max-width: 100%;
                    .select-text {
                        font-size: 1.35rem;
                    }
                }
            }
            &.item-input {
                .text-input::placeholder {
                    color: #78927e !important;
                    font-size: 1.3rem;
                }
            }
  
            .label {
                font-size: 1.35rem;
                font-weight: 400;
                color: #78927e;
                flex: unset;
            }
        }
    }
  }



 */

 /* old style of review part
 ion-slides{
    height: 100%;
}

ion-slide{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

ion-slide p{
    color: black;
}

ion-slide h3{
    display: block;
} */
