<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title> 
      الجمعيات
    </ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content >
  <div id="main" style="text-align: center;" dir="rtl">

  <div> 
    <ion-card style="background-color: #35C27D; color: white">
      <ion-card-header>
        <!-- <ion-card-subtitle style= "color: white" >{{charity.title}}</ion-card-subtitle> -->
        <ion-card-title style= "color: white">{{charity.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>{{charity?.description}} </p>
        -------------------------------
<p>العنوان: {{charity?.address}}</p>
<p > الهاتف: {{charity?.phone}} </p>

      </ion-card-content>
    </ion-card>
  </div>

    <ion-card style="background-color: #35C27D; color: white" >
      <ion-card-header>
        <!-- <ion-card-subtitle style= "color: white" >{{charity.title}}</ion-card-subtitle> -->
        <ion-card-title style= "color: white">التبرع المالى</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!--routerLink="{{item.id}}" -->
        <ion-row>
          <ion-col size="6" *ngFor="let item of charity.maly" [ngClass]="{inactive: !item.exist}" >
            <a routerLink="{{item.id}}" style="text-decoration: none;">
            <img src="{{item.img}}"  style="width: 75%;" alt="" >
              <br>
              <span>{{item.title}}</span>
            </a>
            
          </ion-col>
         
          
        </ion-row>
        

      </ion-card-content>
    </ion-card>
  

  <div> 
    <ion-card style="background-color: #35C27D; color: white">
      <ion-card-header>
        <!-- <ion-card-subtitle style= "color: white" >{{charity.title}}</ion-card-subtitle> -->
        <ion-card-title style= "color: white">التبرع العينى</ion-card-title>
      </ion-card-header>
    
      <ion-card-content >
    <!--routerLink="{{item.id}}" -->
        <ion-row >
          <ion-col size='6' *ngFor="let item of charity.ayni"  [ngClass]="{inactive: !item.exist}" >
            <a routerLink="{{item.id}}"> 
              <img src="{{item.img}}" style="width:  75%;" alt=""  >
              <br>
              <span>{{item.title}}</span>
            </a>
            
          </ion-col>
         
          
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>

  <ion-button mode="ios" color="green"   style="width: 60%;" class="btnMaly" [routerLink]="'/tabs/tab3/'+charity.id">الموقع</ion-button>
</div>
</ion-content>

