
<ion-content >
  <ion-header >
    <ion-toolbar>
      <ion-title  color="greengrab"> قائمة الجمعيات</ion-title>
    </ion-toolbar>
  </ion-header> 

  <ion-content>
    <div class="title-block">
      <div class="heading">    قائمة الجمعيات
      </div>
    </div>
  
    <ion-list>
      <ion-list-header>
        <ion-label>Notes</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let charity of charities">
        <ion-thumbnail slot="start">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ charity.title }}</h2>
        <p>{{charity.description}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end" [routerLink]="'/info/'+charity.id">View</ion-button>
        <ion-button fill="outline" slot="end" [routerLink]="'/tabs/tab3/'+charity?.lat">View On Map</ion-button>

      </ion-item>
    </ion-list>
  
  </ion-content>














<!-- <div  *ngIf = "charities?.length > 0;else noItems"> 
<ul *ngFor = "let charity of charities"> 
  <li> 
    <strong> {{ charity.title }}:    </strong> {{charity.description}}
  </li>
  <a routerLink='/items/{{charity.title}}'>go</a>
</ul>

</div>
<ng-template #NoItems> 
<hr> 
<h5> There is no items to list </h5>

</ng-template> -->














<!-- <ion-header >
  <ion-toolbar>
    <ion-title>
      قائمة الجمعيات
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header >
    <ion-toolbar>
      <ion-title size="large" style="padding-left: 65px;">    قائمة الجمعيات   </ion-title>
    </ion-toolbar>
  </ion-header> 


  <div class="login-form">
 

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
      أجهزة كهربائية
    </ion-button> <br>


    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
ملابس    </ion-button> <br>

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
أثاث</ion-button> <br>

    <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
 كتب    </ion-button> <br>

     <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/">
   أتبرع بوقتك
     </ion-button> <br>
    

     </div> -->


     





















<!-- <ion-header >
  <ion-toolbar>
    <ion-title>
      قائمة الجمعيات
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header >
    <ion-toolbar>
      <ion-title size="large" style="padding-left: 65px;">    قائمة الجمعيات   </ion-title>
    </ion-toolbar>
  </ion-header> 

<div class="container"> 
  <ion-list class="card-body">
  <ion-button expand="block" [routerLink]="['/items']" > مستشفى 57357</ion-button> 
  <br>
  <ion-button expand="block">جمعية رسالة</ion-button> 
  <br>
  <ion-button expand="block" > بنك الطعام المصرى </ion-button> 
  <br>
  <ion-button expand="block">جمعية الأورمان</ion-button> 
  <br> 
  <ion-button expand="block">مؤسسة مصر الخير</ion-button> 
  </ion-list>

</div>
  -->