<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title style="text-align: center;">انواع التبرع المالي</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content >
  <div id="main">

  <div style="text-align: center;">
    <img src="assets/icon/jjj.png" alt="" width="40%">
  </div>
  <div class="login-form" style="text-align: center;">
 
    <ion-button mode="ios" color="green"  style="width: 60%;" class="btnMaly"  routerLink="/tabs/tab1">
    صدقة
    </ion-button> <br>

    <ion-button mode="ios" color="green"  style="width: 60%;"  class="btnMaly"  routerLink="/tabs/tab1">
    زكاة مال
    </ion-button> <br>

    <ion-button mode="ios" color="green"   style="width: 60%;" class="btnMaly"  routerLink="/tabs/tab1">
    كفالة يتيم
    </ion-button> <br>

    <ion-button mode="ios" color="green"  style="width: 60%;"  class="btnMaly"  routerLink="/tabs/tab1">
    كفالة أسرة
    </ion-button> <br>

    <ion-button mode="ios" color="green"  style="width: 60%;"  class="btnMaly"  routerLink="/tabs/tab1">
    غارمين
    </ion-button> <br>
    

    </div>
  </div>
</ion-content>
 