<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title style="text-align: center;">انواع التبرع المالي</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content >
  <div id="main">

  <div style="text-align: center;">
    <img src="assets/icon/jjj.png" alt="" width="40%">
  </div>
  <div class="login-form" style="text-align: center;">
    <ion-row>
      <ion-col>
        <a routerLink="/tabs/tab1">
          <img src="assets/icon/6.png" style="width: 50%;" alt="">
         
        </a>
        <br>
        <span>صدقة</span>
      </ion-col>
      <ion-col>
        <a routerLink="/tabs/tab1">
          <img src="assets/icon/6.png" style="width: 50%;" alt="">
         
        </a>
        <br>
        <span>زكاة مال</span>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a routerLink="/tabs/tab1">
          <img src="assets/icon/6.png" style="width: 50%;" alt="">
         
        </a>
        <br>
        <span>كفالة يتيم</span>
        
      </ion-col>
      <ion-col>
        <a routerLink="/tabs/tab1">
          <img src="assets/icon/6.png" style="width: 50%;" alt="">
         
        </a>
        <br>
        <span>كفالة أسرة</span>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a routerLink="/tabs/tab1">
          <img src="assets/icon/6.png" style="width: 25%;" alt="">
         
        </a>
        <br>
        <span>غارمين</span>
        
      </ion-col>
    </ion-row>
    

    </div>
  </div>
</ion-content>
 