  <ion-toolbar color="">
          
  </ion-toolbar>
<ion-content>

  <!-- <div class="logo-box">
    <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp.jpg" alt="">
  </div> -->
  <ion-item lines="none">
      <ion-label>
          <ion-text color="greengrab">
              <h1 class="main-header1">Sign in</h1>
          </ion-text>
      </ion-label>
    
  </ion-item>    
  
  <form [formGroup]="loginForm" novalidate>
    <div class="login-form">
      <ion-text color="dark">
          <h2 text-center class="ion-margin-bottom main-header7">
              Sign in to continue
          </h2>
      </ion-text>
      <ion-list lines="none" class="ion-margin-top">
            <ion-item>
              <!-- <ion-icon  slot="start" color="lightgrey" name="ios-mail-outline"></ion-icon> -->
              <!-- <ion-input formControlName="username" type="email" placeholder="Username" ></ion-input> -->
              <ion-input type="email" #email required formControlName="username"  placeholder=" Email "></ion-input>
             
            </ion-item>

            <ion-item>
              <!-- <ion-icon slot="start" color="lightgrey" name="ios-key-outline"></ion-icon>
              <ion-input formControlName="password" type="password" placeholder="Password" ></ion-input> -->
              <ion-input type="password" #password required formControlName="password"  placeholder="Password" ></ion-input>

            </ion-item>

      </ion-list>
       <!-- Error meassage -->
      <ion-text color="danger">
          <p *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched">
              <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
      </ion-text>
      <ion-text color="danger">
          <p *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
              <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
      </ion-text>

            <div>
      <ion-button mode="ios" color="realgreen" expand="block" (click)="logIn(email, password)" >
        Sign in
      </ion-button> 
      <a style="font-size: small; padding-right: 20px;"  routerLink="/forgot-password">Forgot your password?</a>
    </div> 
    <br> 
      <ion-button mode="ios" color="primary" expand="block" (click)="loginWithFacebook()" >
       Login with Facebook
      </ion-button>
      <ion-button mode="ios" color="danger" expand="block" (click)="nativeGoogleLogin()" >
        Login with Google
       </ion-button> 
       
      <a style="font-size: small; padding-right: 20px; padding-bottom: 20px;"   routerLink="/register">Register</a>


      
      <!-- <ion-button mode="ios" color="pink" expand="block" fill="outline" class="ion-margin-top" routerLink="/home">
          Cancel
      </ion-button> -->


    </div>
 </form>
</ion-content>







