<ion-toolbar color="" id="toolbar-shadow">
  <h1 class="main-header1" style="text-align: right; padding-right: 5%; color: white;">تسجيل الدخول</h1>      
</ion-toolbar> 
<ion-content>
  <div id="main">


  <!-- <div class="logo-box">
    <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp.jpg" alt="">
  </div> -->


  <!-- <ion-item lines="none">
      <ion-label>
          <ion-text color="greengrab">
              <h1 class="main-header1">Sign in</h1>
          </ion-text>
      </ion-label>
  </ion-item> -->
  
  
  <form [formGroup]="loginForm" novalidate>
    <div class="login-form">
      
      <ion-list lines="none" class="ion-margin-top" mode="ios" dir="rtl">
            <ion-item>
              <!-- <ion-icon  slot="start" color="lightgrey" name="ios-mail-outline"></ion-icon> -->
              <!-- <ion-input formControlName="username" type="email" placeholder="Username" ></ion-input> -->
              <ion-icon slot="start" color="lightgrey" name="mail-outline"></ion-icon>
              <ion-input type="email" #email required formControlName="username"  placeholder=" البريد الإلكتروني "></ion-input>             
            </ion-item>

            <!-- Error meassage -->
            <ion-text color="danger" >
              <p *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched">
                  <ion-icon name="information-circle-outline"></ion-icon> إسم المستخدم يجب أن لا يقل عن ۳ أحرف 
              </p>
            </ion-text>

            <ion-item >
              <!-- <ion-icon slot="start" color="lightgrey" name="ios-key-outline"></ion-icon>
              <ion-input formControlName="password" type="password" placeholder="Password" ></ion-input> -->
              <ion-icon slot="start" color="lightgrey" name="lock-closed-outline"></ion-icon>
              <ion-input type="password" #password required formControlName="password"  placeholder="كلمة السر" ></ion-input>
            </ion-item>

            <!-- Error meassage -->
            <ion-text color="danger">
              <p *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
                  <ion-icon name="information-circle-outline"></ion-icon> كلمة المرور يجب أن لا تقل عن ۳ أحرف
              </p>
            </ion-text>

            <a style=" text-align: center; font-size: small; color: white;"  routerLink="/forgot-password"> نسيت كلمة السر ؟</a>

      </ion-list>
       <!-- Error meassage -->
      <!--<ion-text color="danger">
          <p *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched">
              <ion-icon name="information-circle-outline"></ion-icon> إسم المستخدم يجب أن لا يقل عن ۳ أحرف 
          </p>
      </ion-text> -->
     <!-- <ion-text color="danger">
          <p *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
              <ion-icon name="information-circle-outline"></ion-icon> كلمة المرور يجب أن لا تقل عن ۳ أحرف
          </p>
      </ion-text> -->

      <div style="text-align: center;">
      <ion-button mode="ios" color="greengrab" style="width: 50%; text-align: center; margin-left: 25%;" expand="block" (click)="logIn()" >
        تسجيل دخول
      </ion-button> 
      <ion-button mode="ios" color="greengrab" style="width: 50%; text-align: center; margin-left: 25%;" expand="block" routerLink="/register" >
       تسجيل مستخدم جديد   
      </ion-button> 
      <!--<a style="font-size: small; color: white;"  routerLink="/forgot-password"> نسيت كلمة السر ؟</a> -->
    </div>
    <br>
      <ion-text color="white" style="text-align: center;">
        <p>:أو تسجيل الدخول بواسطة</p>
    </ion-text>
    <div class="row" style="text-align: center;">
      <ion-button class="col" mode="ios" color="primary" (click)="loginWithFacebook()" >
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button class="col" mode="ios" color="danger" (click)="nativeGoogleLogin()" >
        <ion-icon name="logo-google"></ion-icon>
       </ion-button>
    </div>
       
       
      


      
      <!-- <ion-button mode="ios" color="pink" expand="block" fill="outline" class="ion-margin-top" routerLink="/home">
          Cancel
      </ion-button> -->


    </div>
 </form>
 </div>
</ion-content>







