<ion-header no-border>
  <ion-toolbar color="" id="toolbar-shadow">

      <ion-buttons slot="start">
         <!--  <ion-button (click)="toggleSideMenu()">
              <ion-icon class="menu-icon"  name="md-menu" color="greengrab" slot="start"></ion-icon>
          </ion-button> -->
      </ion-buttons>

     <!-- <ion-item lines="none">
        <ion-label>
            <ion-text>
                <h1 style="color: white;">Forgot your password</h1>
            </ion-text>
        </ion-label>
    </ion-item> -->

    <h1 class="main-header1" style="text-align: right; padding-right: 5%; color: white;"> نسيت كلمة السر الخاصة بك؟</h1>      
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="main">

  <form [formGroup]="forgotForm" novalidate >
          <div class="forgot-form">            
            <ion-text color="dark">
                  <h2 text-center class="ion-margin-bottom main-header7" style="color: white; text-align: right;">
                    أدخل بريدك هنا بالأسفل وسنرسل لك رابطا لإعادة تعيين كلمة السر 
                  </h2>
              </ion-text>
            <ion-list lines="none" class="ion-margin-top">
                  <ion-item dir="rtl">
                    <ion-icon slot="start" color="lightgrey" name="mail-outline"></ion-icon>
                    <ion-input formControlName="username" type="email" placeholder="البريد الإلكتروني"></ion-input>
                  </ion-item>
            </ion-list>
            <!-- Error meassage -->
            <ion-text color="danger">
                <p *ngIf="!forgotForm.controls.username.valid && forgotForm.controls.username.touched">
                    <ion-icon name="information-circle-outline"></ion-icon> يجب أن يكون إسم المستخدم هو بريدك الإلكتروني
                </p>
            </ion-text>

            <!--Submit buttton -->
            <ion-button mode="ios" color="greengrab" style="width: 50%; text-align: center; margin-left: 25%;" expand="block"  [disabled]="!forgotForm.valid"  (click)="resetPassword()" >
              طلب كلمة المرور
            </ion-button>
            <ion-button mode="ios" color="greengrab" style="width: 50%; text-align: center; margin-left: 25%;" expand="block"  class="ion-margin-top"  routerLink="/login">
                تسجيل الدخول
            </ion-button>
            <!-- <ion-text color="dark">
                  <h2 text-center class="ion-margin-bottom main-header8" style="color: white;">
                    <ion-icon name="create"></ion-icon>
                      By clicking Sign up you agree to the following Terms and Conditions without reservation.
                  </h2>
              </ion-text> -->
          </div>
   </form>
  </div>
  </ion-content>





<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the username or email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
</ion-content> -->