<ion-header no-border>
  <ion-toolbar color="">
          
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <div class="logo-box">
    <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp.jpg" alt="">
  </div> -->
  <ion-item lines="none">
      <!-- <ion-label> -->
          <ion-text color="greengrab">
              <h1 class="main-header" style="padding-left: 110px;">الخير</h1>
          </ion-text>
      <!-- </ion-label> -->
  </ion-item>    
  
    <div class="login-form">
      <!-- <ion-text color="dark">
          <h2 text-center class="ion-margin-bottom main-header7">
              Sign in to continue
          </h2>
      </ion-text> -->

      <ion-button mode="ios" color="pink" expand="block"  class="ion-margin-top"  routerLink="/register">
        Create new user
      </ion-button>


      <span class="divider line one-line">or</span>

      <span class="already">Already a user?</span>

      <ion-button mode="ios" color="realgreen" expand="block"  class="ion-margin-top"  routerLink="/login">
          Sign in
      </ion-button> <br>

      </div>
       </ion-content>
     

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->




