<ion-header no-border>
  <ion-toolbar color="" id="toolbar-shadow">
    <h1 class="main-header1" style="text-align: right; padding-right: 5%; color: white;">إنشاء حساب</h1>
  </ion-toolbar>
</ion-header>


<ion-content>
<div id="main">
<!-- <ion-item lines="none">
  <ion-label>
      <ion-text color="greengrab">
          <h1 class="main-header1">Sign up</h1>
      </ion-text>
  </ion-label>
</ion-item>     -->


<div class="register-form ion-margin">
          <ion-text color="dark" dir="rtl">
              <h2 text-right class="ion-margin-bottom main-header7" style="color: white;">
                <ion-icon name="person-add" slot="end"></ion-icon> تسجيل حساب جديد
              </h2>
          </ion-text>
<form [formGroup]="registerForm" novalidate>

  <ion-list lines="none"  dir="rtl">


          <ion-item>
              <!-- <ion-icon slot="start" color="lightgrey" name="ios-mail-outline"> </ion-icon> -->
              <ion-icon slot="start" color="lightgrey" name="mail-outline"></ion-icon>
              <ion-input type="email" #email required formControlName="username"  placeholder=" البريد الإلكتروني "></ion-input>
              <!-- <ion-input type="email" #email required></ion-input> -->
          </ion-item>

          <ion-text color="danger">
            <p *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.touched">
                <ion-icon name="information-circle-outline"></ion-icon> يجب أن يكون إسم المستخدم هو بريدك الإلكتروني
            </p>             
          </ion-text>

          <ion-item>
              <!-- <ion-icon slot="start"  color="lightgrey" name="ios-key-outline"></ion-icon> -->
              <ion-icon slot="start" color="lightgrey" name="lock-closed-outline"></ion-icon>
              <ion-input type="password" #password required formControlName="password"  placeholder="كلمة السر" ></ion-input>
              <!-- <ion-input type="password" #password required></ion-input> -->
          </ion-item>

          <ion-text color="danger">
            <p *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
                <ion-icon name="information-circle-outline"></ion-icon> كلمة المرور يجب أن لا تقل عن ٦ أحرف
            </p>              
          </ion-text>

      </ion-list>





     <!-- Submit button -->
      <ion-button mode="ios" color="greengrab" style="width: 50%; text-align: center; margin-left: 25%;" expand="block" class="ion-margin-top"  (click)="signUp(email, password)">
        تسجيل
      </ion-button>

      <br>  
      
      <ion-button mode="ios" color="pink" style="width: 50%; text-align: center; margin-left: 25%;" expand="block" fill="outline" class="ion-margin-top" routerLink="/login">
          إلغاء
      </ion-button>
      <ion-text color="dark" dir="rtl">
          <h2 text-center class="ion-margin-bottom main-header8" style="color: white; text-align: right;">
            <ion-icon name="create" slot="start"></ion-icon> بالنقر على تسجيل فأنت توافق على الشروط والأحكام
          </h2>
      </ion-text>
</form>

</div>
</div>
</ion-content>
















<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="signUp(email, password)">Sign Up</ion-button>
        <hr><hr>
        <ion-button size="default" shape="round"  color="primary" expand="block" (click)="loginWithFacebook()" >Login with Facebook</ion-button>  
        <ion-button size="default" shape="round"  color="danger" expand="block" (click)="loginWithGoogle()">Login with Google</ion-button>
      </ion-col>
      
    </ion-row>
  </form>
</ion-content> -->

