<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="signUp(email, password)">Sign Up</ion-button>
        <hr><hr>
        <ion-button size="default" shape="round"  color="primary" expand="block" (click)="loginWithFacebook()" >Login with Facebook</ion-button>  
        <ion-button size="default" shape="round"  color="danger" expand="block" (click)="loginWithGoogle()">Login with Google</ion-button>
      </ion-col>
      
    </ion-row>
  </form>
</ion-content>

