<ion-header>
  <ion-toolbar>      
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content padding class="enterPage" style="background-image: linear-gradient(45deg, #1488CC, #2B32B2);">
  <div class="card px-4 py-2 box-shadow-2">
          <div class="card-header text-center">
              <!-- <img src="assets/app-assets/img/logos/logo-color-big.png" alt="company-logo" class="mb-3" width="80"> -->
              <h4 class="text-uppercase text-bold-400 grey darken-1"> تسجيل الدخول </h4>
          </div>
          <ion-list class="card-body">
            <ion-item class="form-group">
                <ion-label color="primary" floating>Email : </ion-label>
                <ion-input type="email"  [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item class="form-group">
                <ion-label color="primary" floating>Password : </ion-label>
                <ion-input type="password"  [(ngModel)]="password"></ion-input>
            </ion-item>
            <!-- <ion-item>
              <ion-label color="primary" floating>Confirm password : </ion-label>
              <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
            </ion-item> -->

            <ion-item class="form-group" style="text-align: center">
              <ion-button size="default" shape="round"  color="primary" expand="block" (click)="register()">SignUp</ion-button>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

            </ion-item>
            <hr><hr>
          </ion-list>  
          <!-- <ion-button size="default" shape="round"  color="primary" expand="block" (click)="doFbLogin()" >Login with Facebook</ion-button>  
          <ion-button size="default" shape="round"  color="danger" expand="block" (click)="loginWithGoogle()">Login with Google</ion-button> 
           -->
          <hr><hr>
          <a  style="padding-left: 20px;" [routerLink]="['/login']">Login</a>        

         </div>
         
        </ion-content>

